<div class="container-fluid">
  <nav class='navbar navbar-default' role='navigation'>
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'posts'}}BUSTER{{/link-to}}</li>
      <li>{{#link-to 'entertainment'}}Entertainment{{/link-to}}</li>
      <li>{{#link-to 'politics'}}Politics{{/link-to}}</li>
      <li>{{#link-to 'science'}}Science{{/link-to}}</li>
      <li>{{#link-to 'sports'}}Sports{{/link-to}}</li>
    </ul>
  </nav>
  {{outlet}}
</div>
