<div class="story">
  <div class="row">
    <div class="col-md-8">
      <p><img class="img-responsive" src="assets/boehner.png"></p>
      <h4>John Boehner Calls For National Guard To Deal With Illegal Immigrants Hiding In Mexico</h4>
      <p>WASHINGTON—Saying it was time to aggressively act before their numbers became too large to control, House Speaker John Boehner called for the National Guard to be deployed to deal with the millions of illegal immigrants currently hiding in Mexico, sources said Monday. “There are more than 120 million illegal immigrants in Mexico, all of whom continue to evade authorities and flout the laws of the United States every day—it’s time to get tough,” said Boehner, conceding that even robust National Guard intervention may be insufficient to deter the growth of undocumented workers living south of the border. “We need the strongest measures possible if we’re to have any hope of keeping illegal immigrants in Mexico City or Juarez from simply gobbling up American jobs.” Boehner went on to say that his remarks applied only to illegal immigrants and not to Mexicans who chose to live in Mexico lawfully.</p>
    </div>
  </div>
</div>
