<div class="row">
  <div class="col-sm-6">
    <p><img class="img-responsive" src="assets/hoc.png"></p>
    <h3>Watching this show</h3>
  </div>
  <div class="col-sm-6">
    <p><img class="img-responsive" src="assets/hoc.png"></p>
    <h3>Watching this show</h3>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <p><img class="img-responsive" src="assets/hoc.png"></p>
    <h3>Watching this show</h3>
  </div>
  <div class="col-sm-3">
    <p><img class="img-responsive" src="assets/hoc.png"></p>
    <h3>Watching this show</h3>
  </div>
  <div class="col-sm-3">
    <p><img class="img-responsive" src="assets/hoc.png"></p>
    <h3>Watching this show</h3>
  </div>
  <div class="col-sm-3">
    <p><img class="img-responsive" src="assets/hoc.png"></p>
    <h3>Watching this show</h3>
  </div>
</div>
